body {
  margin: 0;
  padding: 0;
}

.primary-btn {
  color: white;
  background: purple;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.menu {
  position: fixed;
  top: 5px;
  right: 5px;
}

.menu-link a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: purple;
}

.menu-link a:hover {
  background: #eee;
}

.response {
  position: fixed;
  top: 50px;
  width: 95%;
  margin: 0 auto;
  animation: response .5s;
}

@keyframes response {
  from {font-size: 5px}
  to {font-size: auto}
}

.row {
  background: purple;
}
