body {
  margin: 0;
  padding: 0;
}

.menu {
  position: fixed;
  top: 5px;
  right: 5px;
  color: white;
  background: purple;
}

.menu button {
  background: purple;
}

.menu ul {
  background: purple;
}

.response {
  position: fixed;
  top: 50px;
  width: 95%;
  margin: 0 auto;
  animation: response .5s;
}

@keyframes response {
  from {font-size: 5px}
  to {font-size: auto}
}

.row {
  background: purple;
}
