@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('woff2');
}

.dark body {
  background-color: #333;
}

@layer component {
  .user-content {
    @apply flex justify-end dark:text-white
  }

  .user-content span {
    @apply dark:bg-[#555] bg-accent max-w-[70%]
  }

  .bot-content {
    @apply flex justify-start dark:text-white
  }

  .bot-content span {
    @apply w-[90%]
  }
}

.test {
  color: rgb(207, 204, 204);
}

@theme {
  --color-accent: rgb(200, 200, 200);
  --color-choco: #333;
}