@import "tailwindcss";

@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoCondensed-Regular.ttf') format('woff2');
}

@layer component {
  .user-content {
    @apply flex justify-end text-white
  }

  .user-content span {
    @apply bg-[#555] max-w-[70%]
  }

  .bot-content {
    @apply flex justify-start text-white
  }

  .bot-content span {
    @apply w-[80%]
  }
}

@theme {
  --color-dark: #333;
}